
body {
    font-family: "source-sans-pro",sans-serif;
    color: #454545;
    font-style: normal;
}

p {
    margin-bottom: 1em;
}

a {
    color: #0083e8;
    text-decoration: none;
    text-shadow: none;
}
ul {
    margin: 0;
    padding: 0;
}
    ul li {
        display: inline-block;
        margin: 0 10px;
    }

h3 {
    font-size: .97em;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    color: #7f7f7f;
    margin: 0 0 6px 0;
}

p small a {
    font-size: 1.4em;
}

ul.comps {
    width: 300px;
    margin: 40px auto 0;
}
    ul.comps li {
        display: block;
        margin: 0 0 80px 0;
    }

    ul.comps li:first-child {
        margin-right: 94px;
    }

    ul.comps li a {
        opacity: 0;
        background-color: rgba(255,255,255,.7);
        background-image: url("/img/icn-eye.svg");
        background-repeat: no-repeat;
        background-size: 100px 61px;
        background-position: 50% 52%;
        -webkit-transition-property: opacity, background-position;
        -webkit-transition-duration: .14s;
        -webkit-transition-timing-function: ease-out;
    }


    ul.comps li a {
        position: absolute;
        z-index: 2000;
    }

    ul.comps li,
    ul.comps li a,
    ul.comps li div.thumb {
        width: 300px;
        height: 207px;
    }

    ul.comps li div.thumb {
        display: block;
        background-repeat: no-repeat;
        background-size: 414px 285px;
        background-position: top left;
    }

    ul.comps li#desktop-comp div.thumb {
        background-image: url("/img/comp-desktop.png");
    }
    ul.comps li#mobile-comp div.thumb {
        background-image: url("/img/comp-mobile.png");
    }

header,
ul.devices,
ul#latest,
footer {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}
header {
    margin: 3em 0 0 0;
}
    header h1 {
        font-family: "source-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 4em;
        margin: 0;
        padding: 0;
        letter-spacing: -0.07em;
        text-align: center;
        text-rendering: optimizeLegibility;
    }
    header p {
        margin-top: .2em;
        font-size: 1.3em;
    }

ul#latest #download-btn,
a.git-ribbon {
    display: none;
}

    footer ul {
        width: 100%;
        margin: 100px auto;
    }
    footer ul li {
       margin: 0 20px;
    }


.twitter-icon {
    display: block;
    padding: 30px;
    background-image: url("../img/twitter_icon.png");
    background-image: -webkit-image-set(url("../img/twitter_icon.png") 1x,
    url("../img/twitter_icon@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: center;
}

.github-icon {
    display: block;
    padding: 30px;
    background-image: url("../img/github_icon.png");
    background-image: -webkit-image-set(url("../img/github_icon.png") 1x,
    url("../img/github_icon@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: center;
}

.adobe-icon {
    display: block;
    padding: 30px;
    background-image: url("../img/adobe_icon.png");
    background-image: -webkit-image-set(url("../img/adobe_icon.png") 1x,
    url("../img/adobe_icon@2x.png") 2x);
    background-repeat: no-repeat;
    background-position: center;
}

.button.large {
  height: 27px !important;
  line-height: 28px;
  margin: 0 10px 10px 0 !important;
  padding: 0 15px !important;
}
.button.large.no-label {
  padding: 0 !important;
}
.button.large.no-label i {
  margin-left: 6px;
}
.button,
.button.disabled:hover,
.button.disabled:active {
  background-clip: padding-box !important;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  min-width: 15px;
  margin: 0 5px 0 0;
  max-width: 150px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-image: none, linear-gradient(top, #e5e9e9, #e5e9e9);
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(#e5e9e9), to(#e5e9e9));
  background-position: center;
  background-repeat: none;
  border: 1px solid #9b9d9d;
  box-shadow: inset 0 1px 0 #fff;
  color: #454545;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}
.button:hover {
  background-image: none, linear-gradient(top, #edf1f1, #edf1f1);
  background-image: none, -webkit-gradient(linear, left top, left bottom, from(#edf1f1), to(#edf1f1));
  background-position: center;
  background-repeat: none;
}
.button:active {
  background-color: #d3d7d7;
  background-image: none;
  background-position: center;
  background-repeat: none;
  box-shadow: inset 0 1px 0px rgba(0,0,0,0.12);
  text-decoration: none;
}
.button:focus {
  border: 1px solid #093ffd;
  box-shadow: 0 0 0 2px #6fb5f1;
  outline: none;
}

.button.cta,
.button.cta.disabled:hover,
.button.cta.disabled:active {
    background-clip: padding-box !important;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    min-width: 15px;
    margin: 0 0 5px 0;
    max-width: 240px;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #278ddf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#278ddf), to(#278ddf));
    background-image: linear-gradient(top, #278ddf, #278ddf);
    border: 1px solid #133150;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.27);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.36);
}
.button.cta:hover {
    background-color: #379ef0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#379ef0), to(#379ef0));
    background-image: linear-gradient(top, #379ef0, #379ef0);
}
.button.cta:active {
    background: #1976c3;
    box-shadow: inset 0 1px 0px rgba(0,0,0,0.36);
    text-decoration: none;
    outline: none;
}

/* for landing page only */
.button.huge {
    font-size: 100%;
    font-weight: 400;
    height: 47px;
    line-height: 47px;
    margin: 0;
    padding: 0 29px;
}
.button.cta.huge {
    width: 222px;
}

.button.quiet {
    background: transparent;
    border: none;
}

.icon-sm {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #aaa;
    height: 16px;
    width: 16px;
    margin: 5px 6px 0 -9px;
}
.icon-lrg {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 17px;
    width: 17px;
    margin: 10px 6px 0 -9px;
    shape-rendering: crispEdges;
}
.button .icon-lrg {
    fill: rgba(0,0,0,.95);
}
.button.cta .icon-lrg {
    fill: rgba(255,255,255,.95);
}

@media only screen and (min-width: 920px) {

    header {
        margin-top: 6em;
    }

    header h1 {
        font-size: 5.4em;
    }

    header p {
        font-size: 2.4em;
        color: #888;
    }

    ul#latest #download-btn,
    a.git-ribbon {
        display: block;
    }

    p small a {
        font-size: 1em;
    }

    ul.comps {
        width: 926px;
        margin: 80px auto;
    }
    ul.comps li {
        display: inline-block;
        margin: 0;
    }
    ul.comps li,
    ul.comps li a,
    ul.comps li div.thumb {
        width: 414px;
        height: 285px;
    }
    ul.comps li a:hover {
        opacity: 1;
        background-position: 50% 50%;
    }
    footer ul li {
        margin: 0 30px;
    }

}

@media only screen and (max-height: 568px) {
    footer ul {
        position: inherit;
    }
}
