@import "topcoat-button.css";

body {
    font-family: "Source Sans Pro", "source-sans-pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #666; /* slightly darker shade than original #848484 achieves color contrast of 4.5:1 in body */
    font-size: 16px;
    line-height: 1.375em;
    background: #fff;
    -webkit-text-size-adjust: 100%; /* corrects font-sizing strangeness in iOS */
}

a {
    color: #308DDE;
    text-decoration: none;
}
a:hover {
    color: #065cbb;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

h1, h1 a {
    color: #464646;
    font-size: 2.05em;
    line-height: .6em;
    letter-spacing: -.065em;
    font-weight: 600;
}

h3 {
    font-size: 1.6em;
    font-weight: 300;
    color: #464646;
}

#wrapper {
    max-width: 1036px;
    padding: 40px;
    margin: 0 auto;
}

    header {
        position: relative;
    }
    header p {
        color: #999;
    }

nav ul,
footer ul,
.features ul,
#hero ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    nav ul li,
    footer ul li,
    .features ul li{
        float: left;
    }

    nav ul li,
    footer ul li {
        margin: 0 0 0 55px;
    }
        nav ul li a,
        footer ul li a {
            padding: 2px 4px;
        }

/* NAV */
nav ul {
    position: absolute;
    top: 9px;
    right: 0;
}

nav ul li a {
    color: #7f7f7f;
    font-size: 1.3em;
    line-height: 3rem;
}
nav ul li a.download {
    color: #1e8fe0;
}
    h1 a:hover,
    nav ul li a:hover {
        color: #000;
    }

#hero  {
    display: block;
    max-width: 100%;
    height: 310px;
    margin: 80px 0 120px;
    background: transparent url(/img/hero-devices.png) right 50% no-repeat;
    background-size: contain;
}

    #hero ul li,
    #hero ul li a {
        display: block;
        height: 310px;
        text-align: center;
    }

    #hero ul li {
        float: left;
    }

    #hero ul li#desktop-preview {
        width: 56%;
    }
    #hero ul li#mobile-preview {
        width: 44%;
    }

    #hero ul li a {
        width: 100%;
    }
        #hero ul li .popover {
            top: -20px;
            opacity: 0;
            -moz-transition-property: opacity, top;
            -moz-transition-duration: .14s;
            -moz-transition-timing-function: ease-out;
            -webkit-transition-property: opacity, top;
            -webkit-transition-duration: .14s;
            -webkit-transition-timing-function: ease-out;
        }
        #hero ul li:hover .popover {
            top: -34px;
            opacity: 1;
        }


.features ul li {
    width: 50%;
    display: block;
    padding-bottom: 50px;
}

.features ul li p {
    padding: 0 55px 0 0;
}

.features ul li#performance a.vignette {
    background-image: url(/img/vignette-performance.svg);
}

.features ul li#components a.vignette {
    background-image: url(/img/tnl-components.png);
}

.features ul li#themes a.vignette {
    background-image: url(/img/tnl-themes.png);
}

.features ul li#bem a.vignette {
    background-image: url(/img/tnl-bem.svg);
}

.features ul li#source-sans a.vignette {
    background-image: url(/img/tnl-source-sans.svg);
}

.features ul li#icons a.vignette {
    background-image: url(/img/tnl-icons.svg);
}

.features ul li#design a.vignette {
    background-image: url(/img/tnl-design.png);
}

.features ul li a.vignette {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.features ul li a.vignette,
#default-theme {
    background-color: #f9f9f9;
    outline: solid 1px #eee;
}

#default-theme {
    clear: left;
    width: 100%;
    height: 226px;
    margin-bottom: 80px;
    overflow: hidden;
}
    #default-theme img {
        width: 1036px;
        height: 226px;
    }

footer {
    clear: left;
    height: 100px;
}
    footer ul {
        width: 500px;
        margin: 0 auto;
    }
    footer ul li {
        margin: 0 55px;
    }
    footer ul li a {
        display: block;
        width: 44px;
        height: 44px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
    }
    footer ul li#twitter a {
        background-image: url(/img/icn-twitter.png);
    }
    footer ul li#github a {
        background-image: url(/img/icn-github.png);
    }
    footer ul li#adobe a {
        background-image: url(/img/icn-adobe.png);
    }

/* popover */

.popover {
    position: relative;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, .35);
    border-radius: 5px;
    background: #dfe2e2;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.48), inset 0 0 0 1px rgba(255, 255, 255, .75);

    width: 200px;

}

.popover .arrow, .popover .top-arrow, .popover .bottom-arrow, .popover .left-arrow, .popover .right-arrow {
    position: absolute;
    top: 0;
    width: 30px;
    height: 14px;
    background: -webkit-image-set(url("/img/popover_arrow.png") 1x, url("/img/popover_arrow@2x.png") 2x);
}

.popover .top-arrow {
    top: 0;
    left: 47%;
    margin: -13px 0 0 0;
}

.popover .bottom-arrow {
    top: 100%;
    left: 47%;
    margin: -1px 0 0 0;
    -webkit-transform: rotate(180deg);
}

.popover .left-arrow {
    top: 40%;
    left: -21px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
}

.popover .right-arrow {
    top: 38%;
    left: 97%;
    margin: 0;
    -webkit-transform: rotate(90deg);
}

.popover .content {
    padding: 15px;
}

@media only screen and (max-width: 900px) {

    header {
        text-align: center;
        display: block;
        width: 100%;
    }

    #hero {
        height: 259px;
        background: transparent url(/img/hero-mobile.png) 50% 50% no-repeat;
        margin: 0 0 60px;
        background-size: contain;
    }


    #hero ul li#mobile-preview {
        width: 100%;

    }

    header h1,
    header p {
        display: block;
        width: 100%;
    }

    nav,
    nav ul {
        display: block;
        width: 100%;
        height: 90px;
    }

    nav ul {
        position: relative;
    }

        nav ul li {
            width: 100%;
            padding: 0;
            margin: 0;
        }

            nav ul li:last-child,
            .git-ribbon {
                display: none;
            }

    #hero ul li#desktop-preview {
        display: none;
    }

    #hero ul li .popover {
        display: none;
    }

    footer  {
        width: 320px;
        margin: 0 auto;
    }

        footer ul li {
            margin: 0 30px;
        }

    .features ul li h3 {
        line-height: 1.2em;
        margin: 0;
    }
    .features ul li {
        display: block;
        float: none;
        width: 100%;
        clear: left;
    }

        .features ul li p {
            padding: 0;
            width: 60%;
            float: left;
            margin-bottom: 55px;
        }

        .features ul li a.vignette {
            width: 80px;
            height: 80px;
    }
}

