---
layout: default
title: 'Topcoat'
isPage: true
priority: '0.5'
---
section#content.narrow
	h1 You Rock!
	p Thanks for signing the Topcoat Contributor License Agreement. Now that the legal stuff is out of the way we can accept your brilliant work!
	a.topcoat-button--cta(href="http://github.com/topcoat/topcoat") Take Me To The Project!