section#content
	margin-top 80px
	min-height 350px
section#content article footer
	float none
	clear both
	height auto
section#content article
	max-width 640px
#disqus_thread
	box-sizing border-box
	padding 0 20px 60px
	width 100%