$iceberg-blue: #42B6CC; //taken from Adobe Illustrator Design File
$rocket-purple: #695899; //taken from Adobe Illustrator Design File
$white: #FFFFFF;
$sphere-brown: #333333;//taken from Adobe Illustrator Design File
section
{
//font-size: 18px;
width: 100%;
}
.topcoat 
{
background: $iceberg-blue;
}
.what-is-topcoat
{
background: $white;
}
.fast
{
background: $rocket-purple;
}
.css
{
background: $sphere-brown;
}
.design
{
background: $iceberg-blue;
}
.get-now
{
background: $white;
}