---
layout: default
isPage: true
title: 'Blog'
---
section#content
	section.articlelist
		each page in getCollection('posts').toJSON()
			article
				h2: a(href=page.url)= page.title
				p= page.excerpt
				footer
					a(href=page.url) Read More...
					.published 
						| Published #{formatDate(page.date)} by 
						!= formatAuthor(page.author)