---
layout: default
isPage: true
title: 'Blog'
---
ul
	each page in getCollection('posts').toJSON()
		li: a(href=page.url)= page.title
	each page in getCollection("html").findAll({isPage:true}).toJSON()
		li: a(href=page.url)= page.title