---
layout: default
isPage: true
title: 'Blog'
---
section#content
	h1 Blog Articles
	ul.posts
		each page in getCollection('posts').toJSON()
			li
				a(href=page.url+"/")= page.title
				|  (Published #{formatDate(page.date)} by 
				!= formatAuthor(page.author)
				| )