---
layout: default
title: 'Topcoat'
isPage: true
priority: '1.0'
---
//- Copyright (c) 2013 Adobe Systems Incorporated. All rights reserved.
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//- http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
section#hero
    ul
        li#desktop-preview
            //- .popover
            //-     .arrow.bottom-arrow
            //-     .wrap
            //-         .content View Desktop Preview
            //- a(href="http://topcoat.github.com/topcoat/doc/desktop.html")
        li#mobile-preview
            //- .popover
            //-     .arrow.bottom-arrow
            //-     .wrap
            //-         .content View Mobile Preview
            //- a(href="http://topcoat.github.com/topcoat/doc/mobile.html")




section.features
    ul
        li#performance.clearfix
            a.vignette
            h3 Soooo Fast!
            p Performance is our #1 goal. Every component we design is <a href="http://bench.topcoat.io">benchmarked for performance</a>. You can see our results.
        li#components
            a.vignette.clearfix
            h3 Components Galore
            p We have the building blocks to get you up and running fast. Our growing set of components were born from CSS.
        li#themes
            a.vignette
            h3 Themeable
            p Is that even a word? It should be! We love our theme, but we don’t want to hit your brand over the head with it. Just add colors and voila!
        li#bem
            a.vignette
            h3 BEM Architecture
            p We believe CSS is ready for primetime. We are basing our <a href="http://bem.info/method/">architecture on BEM</a> make your apps faster, less contextual and easier to manage.
        li#source-sans
            a.vignette
            h3 Even our font is open source
            p The first open source font family contribution from Adobe, Source Sans Pro. It is served on <a href="https://edgewebfonts.adobe.com/fonts#/?nameFilter=source&collection=source-sans-pro">Adobe Edge Web Fonts</a> and <a href="https://typekit.com/fonts/source-sans-pro">Adobe Typekit</a>.
        li#icons
            a.vignette
            h3 Icons how you want them
            p We created over <a href="https://github.com/topcoat/icons">100 icons to go with Topcoat</a>.  You can use them as SVG, PNG or semantic icon font. And yes, they are also open source.
        li#design
            a.vignette
            h3 Design with Topcoat
            p Even though Topcoat was designed in code. We are <a href="https://github.com/topcoat/design">including a PSD</a> with all the components on our code base.
        li#cdnjs
            a.vignette
            h3 CDN Resources
            p If you prefer to use a CDN to distribute your Topcoat assets then check out the <a href="http://cdnjs.com/libraries/topcoat/">Topcoat</a> and <a href="http://cdnjs.com/libraries/topcoat-icons/">Topcoat Icons</a> distributions on cdnjs.
    div(style="clear:both;")
