!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title
            block title
                = document.title
        
        link(rel="stylesheet", href="/css/normalize.css", type="text/css", media="screen")
        link(rel="stylesheet", href="/css/style.css", type="text/css", media="screen")
        block scripts
            script(type="text/javascript", src="//use.typekit.net/czf5rrh.js")
            script(type="text/javascript")
                try{Typekit.load();}catch(e){}
    body
        #wrapper
            header
                h1: a(href="/") Topcoat
                p= site.description

                nav: ul
                        li: a(href="http://bench.topcoat.io") Benchmarks
                        li: a(href="/blog") Blog
                        li: a.topcoat-button--cta(href="https://github.com/topcoat/topcoat/archive/0.4.1.zip", onClick="_gaq.push(['_trackEvent', 'download', 'click',,, false]);") Download version 0.4.1
            != content
            footer
                ul
                    li#twitter: a(href="http://twitter.com/topcoat")
                    li#github: a(href="http://github.com/topcoat")
                    li#adobe: a(href="http://html.adobe.com")
        != getBlock('scripts').toHTML()
        != partial('analytics')