---
layout: default
---
section#content
	article
		header
			h1!= document.title
			.author!= formatAuthor(document.author)
			.date Posted #{formatDate(document.date)}

		#postcontent!= content
		footer
			!= partial('comments',{slug:document.slug, title:document.title, url:document.url})